[user]
	email = pablo.speciale@gmail.com
	; email = Pablo.Speciale@microsoft.com
	name = Pablo Speciale
[push]
	default = simple

[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
; [difftool]
;         prompt = false

[alias]
	patch = !git --no-pager diff --no-color
	d = difftool

[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFXS --pattern '^(Date|added|deleted|modified): '

