# Vim navigation.
move_left l
move_right h
goto_top_of_page H
goto_bottom_of_page L
next_page <right>
previous_page <left>
next_page <C-n>
previous_page <C-p>
screen_down <C-d>
screen_up <C-u>

# Goto the next/previous history point.
prev_state <A-a>
next_state <A-s>

# Zoom.
zoom_in <C-=>
zoom_out <C-->
fit_to_page_height_smart <C-0>

# Zoom in/out on the mouse cursor (instead of center of screen).
zoom_in_cursor 30
zoom_out_cursor 30

# This was the default for 'l'
overview_definition o


# open command line
command <A-q>

# Doesn't work...
# setconfig_startup_commands toggle_custom_color;toggle_scrollbar;toggle_mouse_drag_mode
